<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Autocomplete test</title>

<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link th:href="@{/css/address.css}" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script type="text/javascript" th:src="@{/js/autocompleteAddress.js}"></script>
</head>
<body>
	<div class="container">
		<div>
			<form method="post" th:object="${addressData}" id="address" class="formWhole">


				<div class="form-group">
					<div>
						<label for="obec" th:text="#{address.label.city.display}" class="labelText">Obec
							Display</label>
					</div>
					<div>
						<input type="text" id="obecNameDisplay" class="textInput"
							th:field="*{obecNameDisplay}" />
					</div>
				</div>

				<div class="form-group">
					<div>
						<label for="obecName" th:text="#{address.label.city.actual}" class="labelText">Obec
							Actual</label>
					</div>
					<div>
						<input type="text" id="obecName"
							class="textInput" th:field="*{obecName}" />
					</div>
				</div>

				<div class="form-group">
					<div>
						<label for="obecKod" th:text="#{address.label.city.code}" class="labelText">Obec
							Kod</label>
					</div>
					<div>
						<input type="text" id="obecKod"
							class="textInput" th:field="*{obecKod}" />
					</div>
				</div>

				<div class="form-group">
					<div>
						<label for="streetName" th:text="#{address.label.street.name}" class="labelText">Street
							Name</label>
					</div>
					<div>
						<input type="text" id="streetName"
							class="textInput" th:field="*{streetName}" />
					</div>
				</div>

				<div class="form-group">
					<div>
						<label for="streetKod" th:text="#{address.label.street.code}" class="labelText">Street
							Code</label>
					</div>
					<div>
						<input type="text" id="streetKod"
							class="textInput" th:field="*{streetKod}" />
					</div>
				</div>

				<div class="form-group">
					<div>
						<label for="houseNumber" th:text="#{address.label.number}" class="labelText">Number</label>
					</div>
					<div>
						<input type="text" id="houseNumber"
							class="textInput" th:field="*{houseNumber}" />
					</div>
				</div>

				<div class="form-group">
					<div>
						<label for="zipCode" th:text="#{address.label.psc}" class="labelText">PSC</label>
					</div>
					<div>
						<input type="text" id="zipCode"
							class="textInput" th:field="*{zipCode}" />
					</div>
				</div>

				<div class="form-group">
					<div>
						<label for="kodADM" th:text="#{address.label.kodADM}" class="labelText">Kod
							ADM</label>
					</div>
					<div>
						<input type="text" id="kodADM" class="textInput"
							th:field="*{kodADM}" />
					</div>
				</div>

				<button class="btn btn-primary forwardButton" type="submit" name="goToResults" th:text="#{address.button.forward}">Submit
					form</button>
			</form>
		</div>
	</div>

</body>
</html>